*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* text-decoration: none; */
    list-style: none;
}

.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* margin: 1rem; */
    background-color: black;
    color: white;
    /* color: black; */
    /* max-width: 1200px; */
    height: 10vh;
    position: sticky;
    top: 0;
    left: 0;
}

.title-name{
    font-size: 2.6rem;
    font-weight: 200;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-user{
    display: flex;
    justify-content: space-between;
    /* margin: 1rem; */
    align-items: center;
}

nav li{
    display: flex;
    justify-content: space-between;
    margin: auto 1.5rem;
    font-weight: bold;
    font-size: 1.15rem;
}

nav li:hover{
    color: red;
    transition: 0.25s ease all;
    cursor: pointer;
    text-decoration: overline;
}

.para{
    margin-top: 0.5rem;
    /* position: absolute; */
    /* top: 0; */
    /* bottom: 0; */
}

.img-container{
    width: 100%;
}

@media screen and (max-width: 800px) {
    .nav-user{
        display: none;
    }
    .img-container{
        height: 20vh;
        width: 100%;
    }
}